.app-container {
  width: 1200px;
  background: #f3f3f3;
  margin: 27px auto 0;
  @media screen and (max-width: 1005px) {
    width: 100%;
    min-width: 768px;
    padding: 0 14px;
  }
  .app-cont {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 65px - 80px - 15px - 500px);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 40px 0px rgba(241, 243, 244, 0.71);
    border-radius: 5px;
    .el-menu {
      padding: 27px 16px 0;
      width: 260px;
      border: none;
      border-radius: 5px 0;
      box-shadow: 0px 0px 40px 0px rgba(241, 243, 244, 0.71);
      @media screen and (max-width: 1005px){
        padding: 27px 8px 0;
        width: 220px;
      }
    }
    .el-menu-item {
      position: relative;
      padding: 23px 65px 23px 26px;
      height: auto;
      line-height: 20px;
      font-size: 16px;
      color:$color-333;
      border-bottom: 1px solid #f4f4f4;
      @media screen and (max-width: 1005px) {
        padding: 23px 20px;
      }
      .arrow {
        position: absolute;
        top: 26px;
        right: 20px;
        color: $color-333;
        display: none;
        @media screen and (max-width: 1005px) {
          right: 10px;
        }
        .icon {
          font-size: 20px;
        }
      }
      // 激活状态
      &.is-active {
        color: $color-red-pay;
        font-weight: bold;
        background: white;
        .arrow{
          display: block;
        }
      }
      &:hover{
        color:$color-red-pay;
        background: $color-background-hover;
        .menu-icon{
          color:$color-red-pay;
        }
      }
    }
    .menu-title {
      display: flex;
      align-items: center;
      font-size: 16px;
      .menu-icon-wrap{
        width: 30px;
        height: 30px;
        overflow: hidden;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .menu-icon{
          font-size: 21px;
          color: 333;
        }
      }
      .unread-notice {
        font-size: 12px;
        color: #fff;
        background: #ff0000;
        padding: 1px 6px;
        margin-left: 2px;
        border-radius: 6px;
        font-weight: normal;
      }
    }
    .mydrafts,.wallet {
      .menu-icon{
        font-size: 30px !important;
      }
    }
    .my-main {
      margin-top: 40px;
      width: 100%;
      min-height: 800px;
      flex: 1;
      overflow-x: auto;
      @media screen and (max-width: 1005px) {
        margin-top: 20px;
      }
    }
  }
}