/*基础样式*/
.kuq-clear { clear:both}
.kuq-baifei {
  width: 100%;
}
.kuq-shang-5 {
  margin-top: 5px;
}
.kuq-shang-10 {
  margin-top: 10px;
}
.kuq-shang-20 {
  margin-top: 20px;
}
.kuq-shang-30 {
  margin-top: 30px;
}
.kuq-xia-10 {
  margin-bottom: 10px;
}
.kuq-yuanjiao-shang-10 {
  border-radius: 10px 10px 0 0;
}
.kuq-beijing-hui {
  background-color: #eaeaea;
}
.kuq-beijing-lanse {
  background-color: #1878f3;
}
.kuq-beijing-baihui {
  background-color: #f3f3f3;
}
.kuq-beijing-baihui1 {
  background-color: #fcfcfc;
}
/*字体颜色样式*/
.kuq-ziti-baise {
  color: #ffffff;
}
.kuq-ziti-huise {
  color: #8590A6;
}
.kuq-10 {
  width: 10%;
}
.kuq-juzhong {
  text-align: center;
}
.kuq-jiacu {
  font-weight: bold;
}
.kuq-you {
  float: left;
}
/*框样式*/
.kuq-nei-10 {
  padding: 10px;
}
.kuq-8 {
  width: 12.5%;
}
.kuq-henggao-40 {
  line-height: 40px;
}
.kuq-henggao-44 {
  line-height: 44px;
}
.kuq-henggao-50 {
  line-height: 50px;
}
.kuq-juzhong {
  text-align: center;
}
.kuq-zuoduiqi {
  text-align: left;
}
.kuq-youduiqi {
  text-align: right;
}
/*字体样式*/
.kuq-font-14 {
  font-size: 14px;
}
.kuq-font-16 {
  font-size: 16px;
}
/*图片大小*/
.kuq-img-15 {
  width: 15px;
}
.kuq-img-30 {
  width: 30px;
}
.kuq-img-80 {
  width: 80px;
}
.kuq-img-100 {
  width: 100px;
}
/*高度*/
.kuq-gao-90 {
  height: 90px;
}
/*圆角*/
.kuq-yuanjiao-10 {
  border-radius: 5px;
}
.kuq-zuobian {
  float: left;
}

.kuq-youbian {
  float: right;
}
/**/
.kuq-baifen-50 {
  width: 50%;
  float: left;
}
/*不换行*/
.kuq-buhuanhang {
  display: flex;
}
